@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
}

.wrapper .miniHeader {
  overflow: hidden; /* 배너가 화면 밖으로 나가지 않게 */
  background: #edf1f5;
}
.wrapper .miniHeader .banner {
  width: 100%;
  display: flex;
  animation: scroll 30s linear infinite;
  padding: 5px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .miniHeader .banner .bannerItem {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes scroll {
  from {
    transform: translateX(70%);
  }
  to {
    transform: translateX(-60%);
  }
}
.wrapper header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.wrapper header .headerWrap {
  display: flex;
  align-items: center;
}
.wrapper header .headerWrap .logo {
  padding: 0 20px;
}
.wrapper header .headerWrap .logo img {
  width: 200px;
  height: 100px;
}
.wrapper header .headerWrap .search input {
  position: relative;
  width: 250px;
  height: 40px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}
.wrapper header .headerWrap .search span {
  font-size: 14px;
  position: absolute;
  left: 37.5%;
  top: 9.9%;
  color: #9e9e9e;
}
.wrapper header .menu {
  display: flex;
}
.wrapper header .menu .login {
  display: flex;
  align-items: center;
  margin-right: 5px;
  font-size: 16px;
  padding: 8px 10px;
}
.wrapper header .menu .login span {
  margin-right: 5px;
}
.wrapper header .menu .login:hover {
  background: #edf1f5;
  border-radius: 5px;
  transition: background 0.5s;
}
.wrapper header .menu .bookMark {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-size: 16px;
  padding: 8px 10px;
}
.wrapper header .menu .bookMark span {
  margin-right: 5px;
}
.wrapper header .menu .bookMark:hover {
  background: #edf1f5;
  border-radius: 5px;
  transition: background 0.5s;
}
.wrapper .mainWrap {
  padding: 20px 80px;
}
.wrapper .mainWrap .mainimg {
  display: flex;
  justify-content: center;
}
.wrapper .mainWrap .mainimg img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .wrapper .mainWrap .mainimg img {
    width: 100%;
  }
}
.wrapper .mainWrap .bookMenu {
  display: flex;
  margin-top: 30px;
}
.wrapper .mainWrap .bookMenu .bookListMenu {
  color: #fff;
  width: 20%;
  height: 320px;
  background: #013964;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.wrapper .mainWrap .bookMenu .bookListMenu li {
  border: 1px solid #005291;
  border-radius: 3px;
  display: flex;
  margin-bottom: 20px;
  width: 180px;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
}
.wrapper .mainWrap .bookMenu .bookListMenu li:hover {
  background: #fff;
  color: #005291;
}
.wrapper .mainWrap .bookMenu #bookList {
  display: flex;
  border: 1px solid red;
}
.wrapper .mainWrap .bookMenu #bookList #bookList > div {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.wrapper .mainWrap .bookMenu #bookList #bookList > div img {
  border: 1px solid red;
}
.wrapper .mainWrap .bookMenu #bookList h2 {
  border: 1px solid red;
  width: 70%;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}